* {
    padding: 0;
    margin: 0;
}

.image {
    background: url("./assets/images/home-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;


}

@media screen and (max-width: 768px) {
    .image {
        background: url("./assets/images/home-bg.jpg");
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 8%;

    }

}